.artical_budy{
    color: rgb(20, 0, 0);
    
}
.artical_title{
 font-size: 51px;
 color: rgb(40, 40, 95);
}
.artical_date{
    color: gray;
}
.article_head{
    text-align: center;

 
}





    





